@import "../../App.scss";

.work_numbers_wraper {
  background: url(/assets/patient.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .work_numbers {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    .work_numbers_item {
      margin: 0 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      span {
        font-size: 2rem;
        padding: 1rem 0;
        font-weight: bold;
        color: #fff;
        font-family: "Roboto Condensed", sans-serif;
      }
      p {
        color: #fff;
      }
      img {
        width: 6rem;
        height: 6rem;
      }
    }
  }
}
@media only screen and(max-width: 900px) {
  .work_numbers {
    grid-template-columns: repeat(2, 1fr) !important;
    .work_numbers_item {
      margin: 2rem 4rem !important;
    }
  }
  .work_numbers_wraper {
    height: auto;
  }
}
@media only screen and(max-width: 650px) {
  .work_numbers {
    grid-template-columns: 1fr !important;
    padding: 1.75rem 0;
    .work_numbers_item {
      margin: 1rem !important;
    }
  }
}
