@import "../../App.scss";

.why_choose_us {
  background: $secondaryColor;
  color: #fff;

  img {
    height: 100%;
    // object-fit: cover;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .why_choose_use_item_wraper {
    h2 {
      padding: 0.5rem 0;
    }
    p {
      padding: 0.5rem 0;
    }
    i {
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 1.5rem;
      &:hover {
        transition: all 200ms linear;
        background: #fff;
        color: $secondaryColor;
        cursor: pointer;
      }
    }
    font-family: $secondaryFont;
    .why_choose_use_item_grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      margin-top: 3rem;
      .why_choose-use_item {
        margin: 0.5rem 0;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        i {
          width: 5rem;
          height: 5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .why_choose_us {
    padding: 2rem 1rem;
    .why_choose_use_item_wraper {
      h1 {
        padding-left: 0.75rem;
      }
      p {
        padding-left: 0.75rem;
      }
      .why_choose-use_item {
        p {
          padding-left: 0;
        }
      }
    }
    .container {
      justify-content: center !important;
    }
    img {
      display: none;
    }
  }
}
@media only screen and (max-width: 650px) {
  .why_choose_use_item_grid {
    grid-template-columns: 1fr !important;
  }
  .why_choose_us {
    padding: 3rem 1rem;
  }
}
